.DS_Store
ModLinHD.ipynb
plop.py
HumanActivityRecognition/utils/__init__.pyc
HumanActivityRecognition/utils/illustration.pyc
HumanActivityRecognition/utils/load.pyc
HumanActivityRecognition/.ipynb_checkpoints/
