.DS_Store
ModLinHD.ipynb
plop.py
FunctionalDecomposition/utils/__pycache__/*
AnomalyDetection/utils/__pycache__/*
*__pychache__*
.ipynb_checkpoints/
AutoEncoder/github_cholet.py
HumanActivityRecognition/utils/__init__.pyc
HumanActivityRecognition/utils/illustration.pyc
HumanActivityRecognition/utils/load.pyc
HumanActivityRecognition/.ipynb_checkpoints/
DonneesSimulees/.ipynb_checkpoints/
HumanActivityRecognition/utils/__pycache__/
HAR_Guillo_Martin_5GMM.ipynb
ECG Heratbeat Classification/Note.md
ECG Heratbeat Classification/ecg.py
ECG Heratbeat Classification/tools.py
ECG Heartbeat Classification/kernel.ipynb
ECG\ Heartbeat\ Classification/Note.md
ECG Heartbeat Classification/Untitled.ipynb
ECG Heartbeat Classification/mitbih_test_all.csv.zip
HumanActivityRecognitionEnglish
